
<section class="sub-header">
    <h2>GROOMING SERVICES</h2>
</section>
<section class="contact-body">
    <div class="columns is-centered is-variable is-5">
        <div class="column has-text-centered">
                <a class="sub-header-links" routerLink="/grooming-services" fragment="full-service-groom"><span class="icon is-large"><i class="fas fa-paw fa-3x"></i></span></a>
            <h2><a class="sub-header-links" routerLink="/grooming-services" fragment="full-service-groom">Full Service Groom</a></h2>
            <p>For pets who need it all. Our holistic full service groom includes everything they need to look and feel their best with natural hypoallergenic products and a professional style as requested.</p>
        </div>
        <div class="column has-text-centered">
                <a class="sub-header-links" routerLink="/grooming-services" fragment="bath-and-brush"><span class="icon is-large"><i class="fas fa-bath fa-3x"></i></span></a>
            <h2><a class="sub-header-links" routerLink="/grooming-services" fragment="bath-and-brush">Bath &amp; Brush</a></h2>
            <p>Full-service bath with natural hypoallergenic shampoo and a gentle brush/de-shed to have your pet feeling and looking great.</p>
        </div>
        <div class="column has-text-centered">
                <a class="sub-header-links" routerLink="/grooming-services" fragment="a-la-carte"><span class="icon is-large"><i class="fas fa-bone fa-3x"></i></span></a>
            <h2><a class="sub-header-links" routerLink="/grooming-services" fragment="a-la-carte">&Agrave; la Carte</a></h2>
            <p>Is your pet a sensitive soul who needs a quiet session, or is it time for a de-shed treatment? Our &agrave; la carte add-ons offer personalized options to care for your pet's specific needs.</p>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-narrow has-text-centered">
            <br />
            <a class="button is-danger is-medium" routerLink="/grooming-services" fragment="services-top">
                <span>See Service Details &amp; Pricing</span></a>
                <br />&nbsp;<br /><br />
        </div>
    </div>
</section>
<section class="sub-header">
    <h2 id="contact-us">CONTACT US FOR RATES &amp; BOOKING</h2>
</section>
<section class="contact-body">
    <div class="columns is-variable is-8">
        <div class="column">
            <p>
                <iframe width="100%" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EikyMTcgVyBCcm9hZCBTdCwgUXVha2VydG93biwgUEEgMTg5NTEsIFVTQSIxEi8KFAoSCTEJQ_ahGMSJEYKapg92_ZF-ENkBKhQKEglpW047HiLEiREKbpmHjjlCtQ&key=AIzaSyCZBvtqR0-JFHrTBdpl2gCwhUtBEEP7BtE" allowfullscreen></iframe>
            </p>
            <p>
                <b>Address</b><br/>
                217 W. Broad Street<br />
                Quakertown, Pennsylvania 18951
            </p>
            <p>
                <b>Phone</b><br />
                (215) 538-8338
            </p>
            <p>
                <b>Hours</b><br />
                Tuesday - Saturday: 9am - 3pm<br />

                <i class="is-size-7">Evenings by appointment</i><br /><br />
                Walk-ins always welcome!
            </p>
            
        </div>
        <div class="column varb">
            <contact-page></contact-page>
        </div>
    </div>
</section>
