<section class="sect-banner">
    <!--List items for bg images -->
    <ul class="kf-slider">
            <li></li>
            <li></li>
            <li></li>
    </ul>
    <!-- Vertically Center Content -->
    <div class="logo">
        <img src="../assets/images/logo.png" alt="Zen Dog Grooming, LLC"/>
        <div class="social">
            <a href="https://www.instagram.com/zendoggroomingllc/" target="_blank"><i class="fab fa-instagram"></i></a>
            &#160;<a href="https://www.facebook.com/christinacasey8/" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        
    </div>
    <div class="v-center">
        
        <h1>GRAND OPENING
            <br />AUGUST 21<sup>st</sup>!</h1>
        <p>Bucks County’s newest shop for dog grooming and accessories.</p>	
    </div>
</section>
<section class="contact-header">
    <h2>CONTACT US FOR RATES &amp; BOOKING</h2>
</section>
<section class="contact-body">
    <div class="columns is-variable is-8">
        <div class="column">
            <p>
                <iframe width="100%" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EikyMTcgVyBCcm9hZCBTdCwgUXVha2VydG93biwgUEEgMTg5NTEsIFVTQSIxEi8KFAoSCTEJQ_ahGMSJEYKapg92_ZF-ENkBKhQKEglpW047HiLEiREKbpmHjjlCtQ&key=AIzaSyCZBvtqR0-JFHrTBdpl2gCwhUtBEEP7BtE" allowfullscreen></iframe>
            </p>
            <p>
                <b>Address</b><br/>
                217 W. Broad Street<br />
                Quakertown, Pennsylvania 18951
            </p>
            <p>
                <b>Phone</b><br />
                (215) 538-8338
            </p>
            <p>
                <b>Hours</b><br />
                TBD
            </p>
            
        </div>
        <div class="column varb">
            <contact-page></contact-page>
        </div>
    </div>
</section>
