<section class="sub-header" id="services-top">
  <!--<h2></h2>-->
  <div class="columns">
    <div class="column">
      <div class="columns is-mobile">
        <div class="column">
          <a class="has-text-white" routerLink="/grooming-services" fragment="full-service-groom" (click)="onAnchorClick()">Full
            Service Groom</a>
        </div>
        <div class="column"><a class="has-text-white" routerLink="/grooming-services" fragment="bath-and-brush" (click)="onAnchorClick()">Bath
            & Brush</a></div>
      </div>
    </div>
    <div class="column">
      <div class="columns is-mobile">
        <div class="column"><a class="has-text-white" routerLink="/grooming-services" fragment="walk-ins" (click)="onAnchorClick()">Walk-Ins</a></div>
        <div class="column"><a class="has-text-white" routerLink="/grooming-services" fragment="a-la-carte" (click)="onAnchorClick()">&Agrave;
            la Carte</a></div>
      </div>
    </div>
  </div>
</section>
<section class="contact-body">
  <div class="columns is-centered">
    <div class="column is-variable is-8">

      <!-- Full Services Groom -->
      <div class="columns">
        <div class="column is-8">
          <h2 id="full-service-groom">Full Service Groom</h2>
        </div>
        <div class="column">
          <b>From:</b><br />$45.00 - $120.00*
        </div>
        <div class="column is-block-mobile is-hidden-tablet">
          <a class="button is-danger" routerLink="/" fragment="contact-us">
            <span class="icon">
              <i class="far fa-calendar-alt"></i>
            </span>
            <span>Book an Appointment</span></a>
        </div>
      </div>
      <div class="columns">
        <div class="column is-8">
          <span class="larger-text">Service Includes:</span>
          <ul>
            <li>Bath in Natural Hypoallergenic Shampoo by Envirogroom</li>
            <li>15 minute Blowout</li>
            <li>15 minute Kennel Dry</li>
            <li>Brush-out/De-mat</li>
            <li>Clipper/Scissor Work <i>(style as requested)</i></li>
            <li>Nail Clipping</li>
            <li>Ear Cleaning</li>
            <li>Ear Plucking <i>(by request only)</i></li>
            <li>Anal Gland Expression <i>(if needed)</i></li>
          </ul>
          <i class="smaller-text">* Pricing  based on pet's weight and breed/fur length.</i>
          <br /><br />
          <a class="smaller-text" routerLink="/grooming-services" fragment="services-top" (click)="onAnchorClick()"><i class="fas fa-chevron-up"></i>
            Back to Top</a>
        </div>
        <div class="column is-hidden-mobile">
          <a class="button is-danger" routerLink="/" fragment="contact-us">
            <span class="icon">
              <i class="far fa-calendar-alt"></i>
            </span>
            <span>Book an Appointment</span></a>
        </div>
      </div>

      <!-- Bath & Brush -->
      <div class="columns">
        <div class="column is-8">
          <h2 id="bath-and-brush">Bath &amp; Brush</h2>
        </div>
        <div class="column">
          <b>From:</b><br />$20.99 - $69.99*
        </div>
        <div class="column is-block-mobile is-hidden-tablet">
          <a class="button is-danger" routerLink="/" fragment="contact-us">
            <span class="icon">
              <i class="far fa-calendar-alt"></i>
            </span>
            <span>Book an Appointment</span></a>
        </div>
      </div>
      <div class="columns">
        <div class="column is-8">
          <span class="larger-text">Service Includes:</span>
          <ul>
            <li>Bath in Natural Hypoallergenic Shampoo by Envirogroom</li>
            <li>Blowout</li>
            <li>Brushed/De-Shed</li>
            <li>Nails Clipped</li>
            <li>Ears Cleaned</li>
            <li>Natural Lavender Spritz</li>
            <li>Bandana</li>
          </ul>
          <i class="smaller-text">* Pricing  based on pet's weight and breed/fur length.</i>
          <br /><br />
          <a class="smaller-text" routerLink="/grooming-services" fragment="services-top" (click)="onAnchorClick()"><i class="fas fa-chevron-up"></i>
            Back to Top</a>
        </div>
        <div class="column is-hidden-mobile">
          <a class="button is-danger" routerLink="/" fragment="contact-us">
            <span class="icon">
              <i class="far fa-calendar-alt"></i>
            </span>
            <span>Book an Appointment</span></a>
        </div>
      </div>

      <!-- A la Carte -->
      <div class="columns">
        <div class="column">
          <h2 id="a-la-carte">&Agrave; la Carte</h2>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-8">
          <b>Enlightened Pooch Package</b><br />
        </div>
        <div class="column">$11.11</div>
      </div>
      <div class="columns">
        <div class="column">
          Service Includes:
          <ul>
            <li>Upgraded Shampoo Treatment</li>
            <li>Nail Grinding</li>
            <li>Tooth Brushing </li>
          </ul>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-8">
          <b>Sensitive Soul</b><br />
        </div>
        <div class="column">$15.00</div>
      </div>
      <div class="columns">
        <div class="column">
          Service Includes:
          <ul>
            <li>Private evening or early morning session for those who may need more one-on-one attention.</li>
          </ul>
          
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-8"><b>De-Shed Treatment</b></div>
        <div class="column">$5.00</div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-8"><b>De-Skunk</b></div>
        <div class="column">$5.00</div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-8"><b>Natural Medicated <i>(neem)</i> </b></div>
        <div class="column">$5.00</div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-8"><b>Tooth Brushing/Enzymatic Spray</b></div>
        <div class="column">$5.00</div>
      </div>
      <p><a class="smaller-text" routerLink="/grooming-services" fragment="services-top" (click)="onAnchorClick()"><i class="fas fa-chevron-up"></i>
        Back to Top</a></p>

    <!-- Walk-Ins -->
    <div class="columns">
      <div class="column">
        <h2 id="walk-ins">Walk-Ins</h2>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-8">
        <b>The Fly By</b><br />
      </div>
      <div class="column">$21.00</div>
    </div>
    <div class="columns">
      <div class="column">
        Service Includes:
        <ul>
          <li>Touch-up Face, Feet, Pads, & Sanitary</li>
          <li>Nail Clipping</li>
        </ul>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-8"><b>Nail Clipping</b></div>
      <div class="column">$10.00</div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-8"><b>Nail Grinding</b></div>
      <div class="column">$12.00</div>
    </div>
    <a class="smaller-text" routerLink="/grooming-services" fragment="services-top" (click)="onAnchorClick()"><i class="fas fa-chevron-up"></i>
      Back to Top</a>
      <br /><br />

      <p class="has-text-centered">Pricing and products listed are subject to change based on availability.</p>
  </div>
  </div>
</section>