
<!--<h1>About</h1>-->
<h2>Ask me anything.</h2>
<!--<hr>-->
<br />
<form [formGroup]="userForm" *ngIf="!formSubmitted" (ngSubmit)="mailMe()">

    
    <div class="field">
        <label for="email">Email Address</label>
        <div class="control has-icons-left has-icons-right">
            <input type="email" class="input" formControlName="email" name="email" required placeholder="e.g. jdoe@bmail.com" />
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <p *ngIf="formErrors.email" class="help is-danger">{{ formErrors.email }}</p>
    </div>
    
    <div class="field">
        <label for="password">Message</label>
        <div class="control">
            <textarea type="text" class="textarea" formControlName="message" name="message" required rows="6"></textarea>
        </div>
        <p *ngIf="formErrors.message" class="help is-danger">{{ formErrors.message }}</p>
    </div>
    

    <!--<div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>-->
    <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

</form>
<p *ngIf="formSubmitted && !formSuccess"><i class="fas fa-spinner fa-pulse"></i> Sending message...</p>
<p *ngIf="formSuccess">Thank you for reaching out!<br />Your message was logged successfully and I will get back to you soon</p>
