
<h2>Here are some of the projects I'm working on.</h2>
<p>&#160;</p>
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <img style="width:100%;" src="./assets/images/rdcext.jpg" alt="Redirect Check">
            </div>
            
            <div class="card-content">
            
            <div class="content">
                <h3>Redirect Check Chrome&#160;Extension</h3>
                This extension was specifically designed for HTML email UAT, but should work fine on any HTML page. It will show you a list of URLs pulled from the active tab and runs a redirect and URL syntax validation check on those selected. It also includes an option to open all URLs in a new window and audit images.
            </div>
            <div class="columns has-text-grey-light is-italic has-text-centered is-size-7">
                    <div class="column"><i class="fas fa-circle has-text-primary"></i> JavaScript 73.6%</div>
                    <div class="column"><i class="fas fa-circle has-text-link"></i> CSS 14.6%</div>
                    <div class="column"><i class="fas fa-circle has-text-danger"></i> HTML 11.8%</div>
            </div>
            </div>
                       
            
            <div class="charts charts--grouped">
                <div class="charts__chart chart--p100 chart--sm  has-background-danger" data-percent>
                    <div class="charts__chart chart--p88  has-background-link" data-percent>
                        <div class="charts__chart chart--p73 has-background-primary" data-percent></div>
                    </div>
                </div>
            </div> 
            <footer class="card-footer">
                <a class="card-footer-item" href="https://github.com/timothyjmullen/redirect-check" class="card-footer-item"><i class="fab fa-github fa-fw"></i>&#160;Extension</a>
                <a class="card-footer-item" href="https://github.com/timothyjmullen/r-check-php" class="card-footer-item"><i class="fab fa-github fa-fw"></i>&#160;API</a>
                <a class="card-footer-item" href="https://chrome.google.com/webstore/detail/redirect-check/cibpemjiajilcpecpimbpbgmoebcojej" class="card-footer-item"><i class="fab fa-chrome fa-fw"></i>&#160; Store</a>
            </footer>
        </div>
        
    </div>

    <div class="column">
        <div class="card">
        <!--<div class="card-image">
            <img src="../assets/images/side.jpg">
        </div>-->
        <div class="card-content">
    
        <div class="content">
            <h3>mullen.space</h3>
            This is an ongoing project to build my personal portfolio site. It is primarily written in TypeScript in the Angular (6) framework and I am planning to continue to build it out to be more of a content management system. 
        </div><div class="columns has-text-grey-light is-italic has-text-centered is-size-7">
                <div class="column"><i class="fas fa-circle has-text-warning"></i> TypeScript 46.3%</div>
                <div class="column"><i class="fas fa-circle has-text-link"></i> CSS 32.4%</div>
                <div class="column"><i class="fas fa-circle has-text-danger"></i> HTML 15.6</div>
                <div class="column"><i class="fas fa-circle has-text-primary"></i> JavaScript 5.7%</div>
            </div>
        </div>
        
        <div class="charts charts--grouped">
            <div class="charts__chart chart--p100 chart--sm  has-background-primary" data-percent>
                <div class="charts__chart chart--p94 has-background-danger" data-percent>
                    <div class="charts__chart chart--p78  has-background-link" data-percent>
                        <div class="charts__chart chart--p46 has-background-warning" data-percent></div>  
                    </div>
                </div>
            </div>
        </div> 
        <footer class="card-footer">
            <a class="card-footer-item" href="https://github.com/timothyjmullen/r-check-php" class="card-footer-item"><i class="fab fa-github fa-fw"></i>&#160;Site</a>
            <a class="card-footer-item" href="https://chrome.google.com/webstore/detail/redirect-check/cibpemjiajilcpecpimbpbgmoebcojej" class="card-footer-item">View Live</a>
        </footer>
    </div>
    </div>
</div>

