<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <!--<a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>-->
        
            <a class="navbar-item" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
            <a class="navbar-item" routerLink="/grooming-services" [routerLinkActive]="['active']">SERVICES</a>
            <a class="navbar-item" routerLink="/"  fragment="contact-us">CONTACT</a>
       
    </div>

    <!--<div class="navbar-menu" [ngClass]="{'is-active': show}">
        
    </div>-->
</nav>