nav {
    margin: 0 10px 25px 0;
}
a.navbar-item {
    padding: 0.3rem 0 0 0;
    border-bottom:3px solid #fff;
    margin: 0 0.75rem;
    text-decoration:none;
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color:inherit;
    border-bottom:3px solid #222;
    color: darken(#222, 20%);
}
a.navbar-item.active {
    border-bottom:3px solid #222;
    color: darken(#222, 20%);
}