<div id="wrapper" class="content">
    
    <router-outlet #o="outlet"></router-outlet>
</div>
<footer>
    &copy; {{currentYear}} Zen Dog Grooming, LLC
    
    <div class="social">
        <a class="is-size-6" style="vertical-align:3px;" routerLink="/privacy-policy" [routerLinkActive]="['active']">Privacy Policy</a>    
        &#160;&#160;<a class="ficon" href="https://www.instagram.com/zendoggroomingllc/" target="_blank"><i class="fab fa-instagram"></i></a>
        &#160;<a class="ficon" href="https://www.facebook.com/christinacasey8/" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
</footer>

